<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta content="yes" name="apple-mobile-web-app-capable"> 
	<meta content="yes" name="apple-touch-fullscreen"> 
	<meta content="telephone=no,email=no" name="format-detection"> 	
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="black" name="apple-mobile-web-app-status-bar-style">
	<meta name="x5-fullscreen"content="true"/>
	<meta name="full-screen"content="yes">
	<meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no,minimum-scale=1.0, maximum-scale=1.0">
	<title>index-module</title>
</head>
<body>
	<h3>keys: {{keys}}</h3>
	<h3>module.id : {{id}}</h3>
	<h3>module.filename : {{filename}}</h3>
	<h3>module.loaded : {{loaded}}</h3>
	<h3>module.parent : {{parent}}</h3>
	<h3>module.children : {{children}}</h3>
	<br>
	<h4>
		module.exports = exports
		<br>
		如果一个模块的对外输出是一个单值，只能通过module.exports=123；而不是exports=123
	</h4>
	<br>
	<h4>
		commonjs规范与amd规范的区别？能否兼容？
	</h4>

	<br>
	<h4>
		模块缓存
		require("a");<br>
		require("a").message=123;<br>
		require("a").message;//123<br>
		删除某个模块的缓存：delete require.cache[moduleName]
	</h4>
	<script src="/js/plugins/zepto.min.js"></script>
	<script>
		$(function(){
			$.ajax({
				url:"/api/index",
				type:"get",
				data:{
					name:"哈哈"
				},
				dataType:"json",
				success:function(data){
					console.log(data);
				}
			});
		});
	</script>
</body>
</html>